<button id="expense-category-<%= expense_category.id %>" class="category rounded-md border border-green-400 text-center py-3 pl-3 pr-2 mr-2 my-2 text-3xl text-white cursor-pointer">
  <%= expense_category.title %>
</button>
