<div class="add-category-area pt-4" style="display:none;">
  <p class="text-white text-3xl">カテゴリを追加</p>
  <div class="grid grid-cols-5">
    <input class="col-span-3 add-category-form rounded-md border border-green-400 text-center py-3 pl-3 pr-2 mr-2 my-2 text-3xl bg-black text-white cursor-pointer">
    <div class="col-start-4 col-span-2 text-right">
      <button class="add-category-cancel pt-12 pb-1 px-2 rounded-lg text-xl font-medium text-white" type="button" name="button" >キャンセル</button>
      <button class="add-category-button pt-12 pb-1 px-2 rounded-lg text-2xl font-medium text-red-500 bg-black cursor-pointer" type="button">登録</button>
    </div>
  </div>
</div>
