<div class="add-category-area grid grid-cols-2" style="display:none;">
  <input class="col add-category-form rounded-md border border-green-400 text-center py-3 pl-3 pr-2 mr-2 my-2 text-3xl bg-black text-white cursor-pointer">
  <div class="col content-end">
    <button class="px-2 rounded-lg text-xl font-medium text-white expense-modal-close" type="button" name="button" onclick="window.location.reload();">キャンセル</button>
    <button class="add-category-button px-5 rounded-lg text-2xl font-medium text-red-500 bg-black cursor-pointer" type="button">登録</button>
  </div>
</div>
