<div class="container mx-auto bg-black">
  <div class="text-center">
    <button class="schedule-modal-open m-5 px-3 py-2 rounded-lg text-4xl font-medium text-white bg-blue-400" type="button" name="button">予定入力</button>
    <%= link_to "logout", logout_path, method: :delete, class: "px-2 py-1 bg-red-400 text-lg text-white font-semibold rounded-lg" %>
  </div>
  <div class="text-center">
    <div id="calendar" class="text-white"></div>
  </div>
</div>
<%= javascript_pack_tag "calendar/config" %>
<%= render partial: "schedules/new" %>å