<div class="container mx-auto flex-grow">
  <div class="text-center">
    <button class="schedule-modal-open m-5 px-3 py-2 rounded-lg text-4xl font-medium text-white bg-blue-400" type="button" name="button">予定入力</button>
    <%= link_to "日々の入力", new_daily_stack_path, class: "daily-stacks-button hidden button m-5 px-3 py-2 rounded-lg text-4xl font-medium text-white bg-purple-400" %>
    <%= link_to "logout", logout_path, method: :delete, class: "px-2 py-1 bg-red-400 text-lg text-white font-semibold rounded-lg" %>
  </div>
  <div class="text-center">
    <div id="calendar" class="text-white"></div>
  </div>
  <div class="text-center m-5 text-white">
    <div class="daily-schedules"></div>
    <div class="daily-stacks"></div>
  </div>
</div>
<%= javascript_pack_tag 'calendar/event' %>
<%= render partial: "schedules/new" %>