<div class="container pt-3">
  <div class="text-center">
    <h1 class="text-4xl text-green-700 text-center font-semibold">12月</h1>
    <h2>Calendar#index</h2>
    <p>Find me in app/views/calendar/index.html.erb</p>
    <%= react_component("HelloWorld", { greeting: "jfeiwjfioejifjwo." }) %>
  </div>
</div>