<div class="container pt-3 bg-black">
  <div class="text-center">
    <%= link_to "logout", logout_path, method: :delete, class: "px-2 py-1 bg-red-400 text-lg text-white font-semibold rounded" %>
    <%= react_component("HelloWorld", { greeting: "jfeiwjfioejifjwo." }) %>

    <div class="px-10 py-5">
      <div class="grid grid-cols-6 rounded-lg border-4 border-green-400 content-center pt-6">
        <div class="flex col-start-2 col-span-4 py-1">
          <button class="schedule-modal-open flex-grow py-6 rounded-lg text-4xl font-medium text-white bg-blue-400" type="button" name="button">予定入力</button>
          <div>
            prev 10月 next
            予定入力ボタン
            1~31(schedule情報By日付)
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "schedules/new" %>