<%# TODO テストファイル(サンプル実装（後に削除対象）)　%>
<div class="container pt-3 bg-black">
  <div class="text-center">
    <h1 class="text-4xl text-green-700 text-center font-semibold">12月</h1>
    <h2>Calendar#index</h2>
    <p>Find me in app/views/calendar/index.html.erb</p>
    <%= react_component("HelloWorld", { greeting: "jfeiwjfioejifjwo." }) %>

    <div class="px-10 py-5 bg-black">
      <div class="grid grid-cols-6 rounded-lg border-4 border-green-400 content-center pt-6">
        <div class="flex col-start-2 col-span-4 py-1">
          <button class="schedule-modal-open flex-grow py-6 rounded-lg text-4xl font-medium text-white bg-blue-400" type="button" name="button">予定入力</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "schedules/new" %>