<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= topic.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
        </h4>
        <div class='mr10 float-right'>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= topic.month %>
          </li>
          <li class="list-inline-item">
            <%= l topic.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= topic.content %></p>
      </div>
    </div>
  </div>
</div>
