<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= topic.id %>">
    <div class="card">
      <div class="card-body">
        <div class="card-date">
          <%= l topic.created_at, format: :long %>
        </div>
        <div class="card-content">
          <p><%= topic.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>
