<%= form_with model: @topic, local: true do |f| %>
  <div class="form-group">
    <%= f.date_field :created_at %>
  </div>
  <div class="form-group">
    <%= f.text_area :content %>
  </div>
<% end %>
