<div id="<%= dom_id user %>" class="scaffold_record">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Crypted password:</strong>
    <%= user.crypted_password %>
  </p>

  <p>
    <%= link_to "Show this user", user %>
  </p>
</div>
