<footer class="p-4 container text-white h-auto max-w-full border-b-2 border-t-2 border-green-400 bg-gray-500">
  <%
=begin%>
 TODO 画像と画面遷移 
<%
=end%>
  <div class="flex items-center m-2 grid grid-cols-4 gap-4">
    <%= link_to root_path, class: "text-center rounded-lg m-2 p-2 border-2 border-green-400 bg-black" do %>
      <i class="fas fa-chevron-left fa-lg mt-2"></i>
    <% end %>
    <%= link_to "#", class: "text-center rounded-lg m-2 p-2 border-2 border-green-400 bg-black" do %>
      <i class="fas fa-chevron-left fa-lg mt-2"></i>
    <% end %>
    <%= link_to "#", class: "text-center rounded-lg m-2 p-2 border-2 border-green-400 bg-black" do %>
      <i class="fas fa-chevron-left fa-lg mt-2"></i>
    <% end %>
    <%= link_to "#", class: "text-center rounded-lg m-2 p-2 border-2 border-green-400 bg-black" do %>
      <i class="fas fa-chevron-left fa-lg mt-2"></i>
    <% end %>
  </div>
</footer>