<div class="px-10 py-5 bg-black">
  <div class="grid grid-cols-6 rounded-lg border-4 border-green-400 content-center pt-6">
    <div class="flex col-start-2 col-span-4 py-1">
      <button class="flex-grow py-6 rounded-lg text-4xl font-medium text-white bg-blue-400" type="button" name="button">積み上げ入力</button>
    </div>
    <div class="flex col-start-2 col-span-4 py-1">
      <button class="flex-grow py-6 rounded-lg text-4xl font-medium text-white bg-red-400" type="button" name="button">支出入力</button>
    </div>
    <div class="flex justify-end col-start-2 col-span-4 py-1">
      <button class="rounded-lg text-md font-medium text-white" type="button" name="button">キャンセル</button>
    </div>
  </div>
</div>
<div class="px-10 py-5 bg-black">
  <div class="grid grid-cols-6 rounded-lg border-4 border-green-400 content-center pt-6">
    <div class="flex col-start-2 col-span-4 grid grid-cols-5 py-1">
      <p class="text-white col-span-2 text-3xl">勉強時間：</p>
      <input class="col-start-3 col-span-3 border border-green-400 bg-black text-xl text-white pl-2">
    </div>
    <div class="flex col-start-2 col-span-4 grid grid-cols-5 py-1">
      <p class="text-white col-span-2 text-3xl">筋トレ：</p>
      <input class="col-start-3 col-span-3 border border-green-400 bg-black text-xl text-white pl-2">
    </div>
    <div class="flex justify-end col-start-2 col-span-4 py-1">
      <button class="px-2 rounded-lg text-md font-medium text-white" type="button" name="button">キャンセル</button>
      <button class="px-2 rounded-lg text-lg font-medium text-red-500" type="button" name="button">登録</button>
    </div>
  </div>
</div>
